<h2>pagina home</h2>
<h4>o nome {{user.name}} {{user.surname}} a idade {{user.age}} anos</h4>
<h5>{{palavra}}</h5>
{{#if auth}}
<p>voce esta logado <a href="./dashboard">clique aqui</a> para acessar a area de membros</p>
{{/if}}
{{#if approved}}
<p>parabens {{user.name}} seu cadastro foi aprovado</p>
{{else}}
<p>{{user.surname}} seu cadastro precisa de aprovacao</p>
{{/if}}